@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind defaultTheme;

@media (max-width:1346px) {
  .div {
    background-size: contain;
  }
}

.path-0 {
  animation:pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0%{
    d: path("M 0,400 L 0,100 C 87.89285714285714,91.98214285714286 175.78571428571428,83.96428571428571 314,85 C 452.2142857142857,86.03571428571429 640.75,96.125 783,127 C 925.25,157.875 1021.2142857142858,209.53571428571428 1123,246 C 1224.7857142857142,282.4642857142857 1332.392857142857,303.7321428571429 1440,325 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,100 C 137.21428571428572,108.58928571428572 274.42857142857144,117.17857142857143 374,121 C 473.57142857142856,124.82142857142857 535.4999999999999,123.87500000000003 654,147 C 772.5000000000001,170.12499999999997 947.5714285714287,217.32142857142856 1088,251 C 1228.4285714285713,284.67857142857144 1334.2142857142858,304.8392857142857 1440,325 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,100 C 112.89285714285714,78.41071428571428 225.78571428571428,56.82142857142857 359,66 C 492.2142857142857,75.17857142857143 645.7499999999999,115.125 757,164 C 868.2500000000001,212.875 937.2142857142858,270.67857142857144 1044,299 C 1150.7857142857142,327.32142857142856 1295.392857142857,326.1607142857143 1440,325 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,100 C 97.85714285714286,94.19642857142857 195.71428571428572,88.39285714285714 315,110 C 434.2857142857143,131.60714285714286 575.0000000000001,180.625 720,195 C 864.9999999999999,209.375 1014.2857142857142,189.10714285714286 1135,205 C 1255.7142857142858,220.89285714285714 1347.857142857143,272.94642857142856 1440,325 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,100 C 87.89285714285714,91.98214285714286 175.78571428571428,83.96428571428571 314,85 C 452.2142857142857,86.03571428571429 640.75,96.125 783,127 C 925.25,157.875 1021.2142857142858,209.53571428571428 1123,246 C 1224.7857142857142,282.4642857142857 1332.392857142857,303.7321428571429 1440,325 L 1440,400 L 0,400 Z");
  }
}
.path-1 {
  animation:pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0%{
    d: path("M 0,400 L 0,233 C 138.03571428571428,236.91071428571428 276.07142857142856,240.82142857142858 404,244 C 531.9285714285714,247.17857142857142 649.75,249.625 766,275 C 882.25,300.375 996.9285714285716,348.67857142857144 1109,383 C 1221.0714285714284,417.32142857142856 1330.5357142857142,437.6607142857143 1440,458 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,233 C 106.78571428571428,240.55357142857142 213.57142857142856,248.10714285714283 326,271 C 438.42857142857144,293.89285714285717 556.4999999999999,332.12500000000006 683,339 C 809.5000000000001,345.87499999999994 944.4285714285716,321.3928571428571 1072,336 C 1199.5714285714284,350.6071428571429 1319.7857142857142,404.30357142857144 1440,458 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,233 C 102.71428571428572,233.51785714285714 205.42857142857144,234.03571428571428 348,238 C 490.57142857142856,241.96428571428572 673.0000000000001,249.375 780,287 C 886.9999999999999,324.625 918.5714285714284,392.4642857142857 1016,426 C 1113.4285714285716,459.5357142857143 1276.7142857142858,458.7678571428571 1440,458 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,233 C 118.57142857142858,235.58928571428572 237.14285714285717,238.17857142857142 348,238 C 458.85714285714283,237.82142857142858 562,234.875 681,271 C 800,307.125 934.8571428571429,382.32142857142856 1064,420 C 1193.142857142857,457.67857142857144 1316.5714285714284,457.8392857142857 1440,458 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,233 C 138.03571428571428,236.91071428571428 276.07142857142856,240.82142857142858 404,244 C 531.9285714285714,247.17857142857142 649.75,249.625 766,275 C 882.25,300.375 996.9285714285716,348.67857142857144 1109,383 C 1221.0714285714284,417.32142857142856 1330.5357142857142,437.6607142857143 1440,458 L 1440,400 L 0,400 Z");
  }
}

.path-2 {
  animation:pathAnim-2 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2 {
  0%{
    d: path("M 0,400 L 0,100 C 89.14285714285714,70.44642857142857 178.28571428571428,40.89285714285714 300,70 C 421.7142857142857,99.10714285714286 575.9999999999999,186.87499999999997 695,211 C 814.0000000000001,235.12500000000003 897.7142857142858,195.6071428571429 1016,204 C 1134.2857142857142,212.3928571428571 1287.142857142857,268.69642857142856 1440,325 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,100 C 123.14285714285714,75.94642857142857 246.28571428571428,51.89285714285714 376,77 C 505.7142857142857,102.10714285714286 642,176.37499999999997 762,215 C 882,253.62500000000003 985.7142857142856,256.6071428571429 1096,269 C 1206.2857142857144,281.3928571428571 1323.1428571428573,303.19642857142856 1440,325 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,100 C 157.71428571428572,86.875 315.42857142857144,73.75 422,81 C 528.5714285714286,88.25 584.0000000000001,115.875 697,152 C 809.9999999999999,188.125 980.5714285714287,232.75 1114,263 C 1247.4285714285713,293.25 1343.7142857142858,309.125 1440,325 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,100 C 88.89285714285714,84.91071428571428 177.78571428571428,69.82142857142857 315,80 C 452.2142857142857,90.17857142857143 637.7500000000001,125.625 754,149 C 870.2499999999999,172.375 917.2142857142858,183.67857142857144 1020,211 C 1122.7857142857142,238.32142857142856 1281.392857142857,281.6607142857143 1440,325 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,100 C 89.14285714285714,70.44642857142857 178.28571428571428,40.89285714285714 300,70 C 421.7142857142857,99.10714285714286 575.9999999999999,186.87499999999997 695,211 C 814.0000000000001,235.12500000000003 897.7142857142858,195.6071428571429 1016,204 C 1134.2857142857142,212.3928571428571 1287.142857142857,268.69642857142856 1440,325 L 1440,400 L 0,400 Z");
  }
}

.path-1{
  animation:pathAnim3 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-3 {
  0%{
    d: path("M 0,400 L 0,233 C 149.85714285714286,245.01785714285714 299.7142857142857,257.0357142857143 400,257 C 500.2857142857143,256.9642857142857 550.9999999999999,244.87499999999994 670,279 C 789.0000000000001,313.12500000000006 976.2857142857142,393.4642857142857 1116,431 C 1255.7142857142858,468.5357142857143 1347.857142857143,463.2678571428571 1440,458 L 1440,400 L 0,400 Z");
  }
  25%{
    d: path("M 0,400 L 0,233 C 88.71428571428572,256.55357142857144 177.42857142857144,280.10714285714283 316,278 C 454.57142857142856,275.89285714285717 643,248.125 787,268 C 931,287.875 1030.5714285714284,355.3928571428571 1132,395 C 1233.4285714285716,434.6071428571429 1336.7142857142858,446.30357142857144 1440,458 L 1440,400 L 0,400 Z");
  }
  50%{
    d: path("M 0,400 L 0,233 C 86.92857142857139,239.76785714285714 173.85714285714278,246.53571428571428 309,274 C 444.1428571428572,301.4642857142857 627.5000000000002,349.625 763,358 C 898.4999999999998,366.375 986.1428571428571,334.9642857142858 1091,345 C 1195.857142857143,355.0357142857142 1317.9285714285716,406.5178571428571 1440,458 L 1440,400 L 0,400 Z");
  }
  75%{
    d: path("M 0,400 L 0,233 C 123,218.73214285714286 246,204.46428571428572 346,211 C 446,217.53571428571428 523.0000000000001,244.87500000000006 663,286 C 802.9999999999999,327.12499999999994 1006.0000000000002,382.0357142857143 1146,413 C 1285.9999999999998,443.9642857142857 1363,450.9821428571429 1440,458 L 1440,400 L 0,400 Z");
  }
  100%{
    d: path("M 0,400 L 0,233 C 149.85714285714286,245.01785714285714 299.7142857142857,257.0357142857143 400,257 C 500.2857142857143,256.9642857142857 550.9999999999999,244.87499999999994 670,279 C 789.0000000000001,313.12500000000006 976.2857142857142,393.4642857142857 1116,431 C 1255.7142857142858,468.5357142857143 1347.857142857143,463.2678571428571 1440,458 L 1440,400 L 0,400 Z");
  }
}